<!DOCTYPE html>
<html>
<head>
<title>Image Semantics</title>
</head>
<body>
    <form action="upload" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="image" id="image">
        <input type="submit" value="Upload Image" name="submit">
    </form>

<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase.js"></script>
<script>
    var config = {
    apiKey: "AIzaSyCL6nQ7cJ_dX9Zlj6oqzpO6F4t_7cHpTF4",
    authDomain: "cchw3-272512.firebaseapp.com",
    };
    firebase.initializeApp(config);
</script>